<div class="router" >
  <div class="item-list" *ngIf="weaponsArray | async as weaponsArray">
    <ng-container *ngFor="let test of weaponsArray">
      <img
        class="item {{test.itemGrade}}"
        src="../../../assets/items/{{ tList.get(test.code) }}.png"
        alt="{{ tList.get(test.code) || test.name }}"
      />
    </ng-container>
  </div>

  <mat-tab-group class="nav-tabs">
    <mat-tab class="nav-tab" label="Recipe">Recipe</mat-tab>
    <mat-tab class="nav-tab" label="Map">Map</mat-tab>
  </mat-tab-group>
</div>
