<div class="router">
  <div class="item-list" >
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile
        *ngFor="let test of weaponsArray | async"
      > 
        <img class="png-icon" src="../../../assets/items/{{ tList.get(test.code) }}.png" alt="{{tList.get(test.code) || test.name}}">  
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <mat-tab-group class="nav-tabs">
    <mat-tab class="nav-tab" label="Recipe">Recipe</mat-tab>
    <mat-tab class="nav-tab" label="Map">Map</mat-tab>
  </mat-tab-group>
</div>

