<html>

<header>
  <div class='nav-bar'>
    <a class='active' href='http://localhost:4200/home'>
      Items
    </a>
  </div>
</header>

<main class='container'>

  <div class='item-list' *ngIf='weaponsArray | async as weaponsArray'>
    <button class='item-button' *ngFor='let test of weaponsArray' mat-raised-button matTooltip="{{test | json}}"
      aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition = 'above'>
      {{tList.get(test.code) || test.name}}
    </button>
  </div>

  <mat-tab-group class='nav-tabs'>
    <mat-tab class='nav-tab' label="Recipe">Recipe</mat-tab>
    <mat-tab class='nav-tab' label="Map">Map</mat-tab>
  </mat-tab-group>
</main>

<footer>

</footer>

</html>