
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$party-planner-primary: mat.define-palette(mat.$indigo-palette);
$party-planner-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$party-planner-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$party-planner-light-theme: mat.define-light-theme((
  color: (
    primary: $party-planner-primary,
    accent: $party-planner-accent,
    warn: $party-planner-warn,
  )
));

$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));


.item.Common {
  background-image: linear-gradient(rgb(43, 44, 45), rgb(90, 92, 95));
  border: 1px solid rgb(105, 105, 105);
}
.item.Uncommon {
  background-image: linear-gradient(rgb(39, 46, 33), rgb(70, 107, 73));
  border: 1px solid rgb(104, 129, 76);
}
.item.Rare {
  background-image: linear-gradient(rgb(40, 44, 59), rgb(52, 74, 108));
  border: 1px solid rgb(70, 95, 135);
}
.item.Epic {
  background-image: linear-gradient(rgb(47, 45, 65), rgb(99, 71, 133));
  border: 1px solid rgb(144, 114, 194);
}
.item.Legend {
  background-image: linear-gradient(rgb(45, 35, 30), rgba(185, 155, 75));
  border: 1px solid rgba(166, 143, 74);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

/* You can add global styles to this file, and also import other style files */

